:root {
  --main-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 69, 69);
  --main-font-color: rgb(255, 255, 255);
  --secondary-font-color: rgb(0, 0, 0);
  --hover-color: rgb(171, 184, 195);
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--main-font-color);
}

a {
  text-decoration: none;
  color: var(--main-font-color);
  text-transform: uppercase;
}

#circle {
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--secondary-color);
  pointer-events: none;
  position: fixed;
  top: -10rem;
  left: -10rem;
  height: 1rem;
  width: 1rem;
  transition: transform 0.4s, background 0.4s;
}

.big {
  transform: scale(2);
}

#left {
  background-color: var(--main-color);
  height: 100%;
  width: 315px;
  display: flex;
  align-items: end;
  position: fixed;
}

#right-left {
  width: 315px;
}

#right {
  background-color: grey;
  height: 100%;
  flex: 3;
}

#nav-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#nav-top {
  padding: 0 40px;
}

#name {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.5;
  display: block;
}

#links {
  list-style-type: none;
  margin: 0;
  padding: 32px 0;
}

#links li {
  padding: 20px 0;
  transition: ease 0.2s;
}

#links li:hover {
  transform: translateX(10px);
}

#nav-contact {
  background-color: var(--secondary-color);
  width: 100%;
  text-align: center;
  padding: 18px 0;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 0.9rem;
  transition: ease 0.2s;
}

#nav-contact:hover {
  color: var(--secondary-font-color);
  background-color: var(--hover-color);
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#hero-container {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

#location {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0; 
}

#h1-hero {
  font-size: 80px;
  font-weight: 900;
  display: flex;
  min-height: 100px;
  margin: 0;
  color: var(--secondary-color);
  padding: 10px 0;
}

#h2-hero{
  font-size: 26px;
  font-weight: 400;
  display: block;
  margin: 0;
}

#learn {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  padding-top: 20px;
  padding-bottom: 3px;
  width: fit-content;
  transition: ease 0.1s;
}

#learn:hover {
  color: var(--main-font-color);
  border-bottom: 1px solid var(--main-font-color);
}

.typed-cursor {
  background-color: var(--main-font-color);
  display: inline-block;
  width: 8px;
  height: 83px;
  margin-left: 8px;
}

.typed-cursor.blink {
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}